<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
           id="org.apache.cordova.plugin.device-identifier"
      version="0.1.0">
    <name>Device Identifier</name>
    <description>Cordova SMS Send Plugin</description>
    <license>MIT</license>
    <keywords>cordova,phonegap</keywords>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/deviceIdentifier.js" name="deviceIdentifier">
        <clobbers target="window.deviceIdentifier" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="deviceIdentifier">
          <param name="ios-package" value="deviceIdentifier" />
        </feature>
      </config-file>
      <config-file target="*-Info.plist" parent="deviceIdentifier">
        <string>deviceIdentifier</string>
      </config-file>
      <header-file src="src/ios/deviceIdentifier.h" />
      <source-file src="src/ios/deviceIdentifier.m" />
    </platform>
</plugin>
